<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Página Principal</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">TeastApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                    </ul>
                    <a class="d-flex nav-link active" href="/signin/">Sign in</a>
                </div>
            </div>
        </nav>
        <hr>

        <div class="col border border-dark bg-secondary p-3">
            <h1 class="m-3">Bienvenido a la prueba</h1>
            <p class="m-3">Nosotros estamos construyendo una aplicación genial usando un framework MVC! 
                Esta aplicación fue construida con el folks</p>
            <a href="/dashboard/" class="btn btn-primary m-3">Empezar</a>
        </div>

        <div class="row mt-4">
            <div class="col-sm-4 p-3">
                <h3>Manejar usuarios</h3>
                <p>
                    Usando esta aplicación, tu aprenderás a como agregar, remover, y editar usuarios
                    para la aplicación.
                </p>
            </div>
            <div class="col-sm-4 p-3">
                <h3>Dejar mensajes</h3>
                <p>
                    Los usuarios serán capaces de dejar un mensaje a otro usuario usando esta aplicación.
                </p>
            </div>
            <div class="col-sm-4 p-3">
                <h3>Editar información de usuarios</h3>
                <p>
                    Administradores podrán editar otras informaciones de usuarios
                    (dirección de email, nombre, apellido, etc).
                </p>
            </div>
        </div>
    </div>
</body>
</html>